#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_student" type="elw.vo.Student" *#
#* @vtlvariable name="elw_group" type="elw.vo.Group" *#
#* @vtlvariable name="course" type="elw.vo.Course" *#
#* @vtlvariable name="studId" type="java.lang.Integer" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Course ${course.name} Structure</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
#if($elw_group)#if($elw_student)#set($auth="true") #end #end
	<div id="nav">#if($auth)#end</div>
	&nbsp;
	<div id="cred">[&nbsp;#if($auth)$elw_group.name&nbsp;$elw_student.name#{else}Anonymous#end &nbsp;]</div>
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<div id=main>
	Assignment bundles:
	<ul>
	#foreach($assBundle in $course.assBundles)#set($bunI = $velocityCount - 1)
			<li>Assignments:<ol>
	 #foreach($ass in $assBundle.assignments)#set($assI = $velocityCount)
		#if($ass.id)
				<li>$ass.name :
			#if($ass.shared)
					<ol>
				#foreach($ver in $ass.versions)#set($verI = $velocityCount)
					#if($ver.id)
					<li><a href="launch?path=${course.id}--${bunI}--${ass.id}--${ver.id}">$ver.name</a></li>
					#end
		 		#end
					</ol>
				</li>
			#else
				#set($verIdx = $studId % $ass.versions.size())
				#set($ver = $ass.versions.get($verIdx))
				<a href="launch?path=${course.id}--${bunI}--${ass.id}--${ver.id}">$ver.name</a>
			#end
		#end
	 #end
			</ol> </li>
	#end
	</ul>
</div>
</body>
</html>