#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="enrolls" type="elw.vo.Enrollment[]" *#
#* @vtlvariable name="courses" type="java.util.Map<java.lang.String,elw.vo.Course>" *#
#parse("t/elw.macro.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>My Courses</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
	<div id="nav"><span style="font-weight: bold">My Courses</span></div>
	#elw_cred_stud($elw_ctx)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<div id=main>
	#foreach($enr in $enrolls)
	<a href="course?ctx=${enr.id}">${courses.get($enr.courseId).name}</a>
	#end
</div>
</body>
</html>
