#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="enrolls" type="elw.vo.Enrollment[]" *#
#* @vtlvariable name="courses" type="java.util.Map<java.lang.String,elw.vo.Course>" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>My Courses</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><span style="font-weight: bold">My Courses</span></div>
	#elw_cred_stud($elw_ctx)
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
	#foreach($enr in $enrolls)
	<a href="course?elw_ctx=e--${enr.id}">${courses.get($enr.courseId).name}</a>
	#end
</div>
</body>
 #parse("/__/ready.vm")
</html>
