#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_student" type="elw.vo.Student" *#
#* @vtlvariable name="elw_group" type="elw.vo.Group" *#
#* @vtlvariable name="courses" type="elw.vo.Course[]" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>My Courses</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
	<div id="nav"><span style="font-weight: bold">My Courses</span></div>
	&nbsp;
	<div id="cred">[&nbsp;$elw_group.name&nbsp;$elw_student.name&nbsp;]</div>
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<div id=main>
	#foreach($course in $courses)
	<a href="course?id=${course.id}">${course.name}</a>
	#end
</div>
</body>
</html>
