#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Course ${elw_ctx.course.name} Structure</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<link href="../css/jquery.jgrowl.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
	<script type="text/javascript" src="../js/jquery.jgrowl.js"></script>
	<script type="text/javascript" src="../js/elw.js"></script>
</head>
<body>
<div id="header">
	<div id="nav"><a href="courses">My Courses</a> &gt; <span style="font-weight: bold">${elw_ctx.course.name}</span>
	</div>
	#elw_cred_stud($elw_ctx)
	<div id="header_hr"></div>
</div>
	#elw_messages($elw_messages)
<div id=main>
	<table cellspacing="0">
		<tbody>
		<tr>
			<th>Name</th>
			<th>State</th>
			<th>Score</th>
		</tr>
			#foreach($entry in $elw_ctx.enr.index)
				#set($idx = $velocityCount - 1)
				#set($elw_ctx_ass = $elw_ctx.extendIndex($idx))
				#set($verIdx = $elw_ctx.student.idAsInt % $elw_ctx_ass.ass.versions.size())
				#set($elw_ctx_ver = $elw_ctx_ass.extendVer($elw_ctx_ass.ass.versions.get($verIdx)))
				#set($started = $elw_ctx.enr.classes.get($elw_ctx_ass.indexEntry.classFrom).started)
			<tr class="header">
				<td style="padding-left: 2em; padding-right: 1em; border-right: #999999 dashed 1px;">$elw_ctx_ass.assType.name
					- $elw_ctx_ass.ass.name</td>
				<td style="padding: 0 0.25em; text-align: center;">
					#if($started)
						<a class="expandTrigger"
							 id="index-$idx">Opened $elw_ctx.enr.classes.get($elw_ctx_ass.indexEntry.classFrom).niceDate</a>
					#else
						Opens $elw_ctx.enr.classes.get($elw_ctx_ass.indexEntry.classFrom).niceDate
					#end
				</td>
				<td style="padding: 0 0.25em; text-align: right;">
					#if($scores.get("$elw_ctx_ver"))
						#elw_score($elw_ctx_ver, $scores.get("$elw_ctx_ver")) of
					#else
						&nbsp;
					#end
					$elw_ctx_ass.indexEntry.scoreBudget
				</td>
			</tr>
				#if($elw_ctx.enr.classes.get($elw_ctx_ass.indexEntry.classFrom).started)
				<tr class="index-$idx" style="display:none;">
					<td style="padding-left: 2.5em; padding-right: 1em; border-right: #999999 dashed 1px;">$elw_ctx_ver.ver.name</td>
				#*
							<td style="padding: 0 0.25em; text-align: right;">
								#elw_code_state($path, $codeMetas.get("$path"))
								#if($scores.get("$path"))
									<span style="font-size: smaller;">#elw_code_score($path, $scores.get("$path"))</span>
								#end
							</td>
							<td style="padding: 0 0.25em; text-align: right;">
								#elw_report_state($path, $reportMetas.get("$path"))
								#if($scores.get("$path"))
									<span style="font-size: smaller;">#elw_report_score($path, $scores.get("$path"))</span>
								#end
							</td>
		*#
					<td style="padding: 0 0.25em; text-align: center;">

					</td>
					<td style="padding: 0 0.25em; text-align: right;">
					#*
						<form action="launch" method="get" style="display: inline; margin: 0;">
							<input type="hidden" name="elw_ctx" value="$path"/>
							<input type="submit" value="Code"/>
						</form>
						<form action="uploadPage" method="get" style="display: inline; margin: 0;">
							<input type="hidden" name="elw_ctx" value="$path"/>
							<input type="submit" value="Report"/>
						</form>
*#
					</td>
				</tr>
				<tr class="index-$idx" style="display:none;">
					<td style="padding-left: 2.5em; padding-right: 1em; border-right: #999999 dashed 1px;">
						#foreach($slot in $elw_ctx_ass.assType.fileSlots)
							$slot.name:&nbsp;<span style="font-weight: bold;">$elw_ctx_ver.ver.countFiles($elw_ctx_ass.assType, $elw_ctx_ass.ass, $slot.id)</span>
						#end
					</td>
					<td style="padding: 0 0.25em; text-align: center;">
						#foreach($slot in $elw_ctx_ass.assType.fileSlots)
							<a class="expandTrigger" id="index-${idx}--slot-${slot.id}" title="$slot.name">$slot.name.charAt(0):<span
											style="font-weight: bold;">$elw_ctx_ver.ver.countFiles($elw_ctx_ass.assType, $elw_ctx_ass.ass, $slot.id)</span></a>
						#end
					</td>
					<td style="padding: 0 0.25em; text-align: right;">
					</td>
				</tr>
					#foreach($slot in $elw_ctx_ass.assType.fileSlots)
					<tr class="index-${idx}--slot-${slot.id}" style="display:none;">
						<td style="padding-left: 3em; padding-right: 1em; border-right: #999999 dashed 1px;">
							<span style="font-weight: bold;" title="${slot.id}">${slot.name}</span>&nbsp;
							#if($slot.writable)
								#if($slot.writeApprovals.size() > 0)
									Writable after : <span
												style="font-weight: bold;">#foreach($slotId in $slot.writeApprovals) ${elw_ctx_ass.assType.findSlotById($slotId).name} #end</span>
								#end
							#else
								<span style="font-weight: bold;">Read-only</span>
							#end
							#if($slot.readApprovals.size() > 0)
								Readable after : <span
											style="font-weight: bold;">#foreach($slotId in $slot.readApprovals) ${elw_ctx_ass.assType.findSlotById($slotId).name} #end</span>
							#end
						</td>
						<td style="padding: 0 0.25em; text-align: center;">
							<a class="expandTrigger" id="index-${idx}--slot-${slot.id}--files">Files:&nbsp;<span
											style="font-weight: bold;">$elw_ctx_ver.ver.countFiles($elw_ctx_ass.assType, $elw_ctx_ass.ass, $slot.id)</span></a>
							<a class="popupTrigger" id="index-${idx}--slotinfo-${slot.id}">Details</a>
						</td>
						<td style="padding: 0 0.25em; text-align: right; position: relative;">
							<div style="display: none;" class="popup index-${idx}--slotinfo-${slot.id}">
								Content Types : <span
											style="font-weight: bold;">#foreach($contentType in $slot.contentTypes) ${contentType} #end</span><br/>
								Max Size : <span style="font-weight: bold;">${slot.lengthLimit}</span><br/>
								Name Regex : <span style="font-weight: bold;">${slot.nameRegex}</span><br/>
							</div>
						</td>
					</tr>
						#elw_file_row($elw_ctx_ver, $slot, $elw_ctx_ver.assType.getFiles($slot.id), "t")
						#elw_file_row($elw_ctx_ver, $slot, $elw_ctx_ver.ass.getFiles($slot.id), "a")
						#elw_file_row($elw_ctx_ver, $slot, $elw_ctx_ver.ver.getFiles($slot.id), "v")
						#elw_file_row($elw_ctx_ver, $slot, $elw_ctx_ver.ver.getStudFiles($slot.id), "s")
					#end
				#end
			#end
		<tr>
			<td style="padding-left: 1em;">&nbsp;</td>
			<td style="padding: 0 0.25em;">Total Score:</td>
			<td style="padding: 0 0.25em; text-align: right;">$grossScore</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>