#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="editor" type="java.lang.String" *#
#* @vtlvariable name="slot" type="elw.vo.FileSlot" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta content="text/html; charset=UTF-8">
 <title>$elw_ctx.ass.name $elw_ctx.ver.name $slot.name : Edit - $elw_ctx.student.name</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
 <div id="nav">
  <a href="Index">Index</a> &gt;
  <a href="tasks?elw_ctx=e--$elw_ctx.enr.id">${elw_ctx.course.name} : Tasks</a> &gt;
  <a href="log?elw_ctx=e--${elw_ctx.enr.id}">${elw_ctx.course.name} : Files</a> &gt;
  <span style="font-weight: bold">$elw_ctx.ass.name $elw_ctx.ver.name $slot.name : Edit</span>
 </div>
 #parse("/__/credStud.vm")
 <div id="header_hr"></div>
</div>
 #parse("/__/SessionMessages.vm")
<div id=main>
 <div style="text-align:center;">
  $editor
 </div>
</div>
</body>
 #parse("/__/ready.vm")
</html>

