#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#parse("t/elw.macro.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>$elw_ctx.ver.name - Code</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
	<div id="nav">
		<a href="courses">My Courses</a> &gt;
		<a href="course?elw_ctx=e--${elw_ctx.enr.id}">${elw_ctx.course.name}</a> &gt;
		<span style="font-weight: bold">$elw_ctx.ver.name - Code</span></div>
	#elw_cred_stud($elw_ctx)
	<div style="clear: both;">&nbsp;</div>
</div>
#elw_messages($elw_messages)
<div id=main>
<div style="text-align:center;">	<object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="800" height="600">
		<param name="type" value="application/x-java-applet;version=1.5"/>
		<param name="code" value="elw.dp.ui.Applet"/>
	##        <param name="codebase" value = "${baseUrl}"/>
		<param name="archive" value="../code#if($cacheBustingToken)/$cacheBustingToken#end/datapath-gui-1.3-full.jar"/>
		<param name="ver" value="$verJson"/>
		<param name="upHeader" value="$upHeader"/>
		<param name="elw_ctx" value="$elw_ctx"/>
		<comment>
			<embed width="800" height="600"
						 type="application/x-java-applet;version=1.5" pluginspage="http://java.sun.com/j2se/1.5.0/download.html"
						 code="elw.dp.ui.Applet"
			##                        codebase="${baseUrl}"
						 archive="../code#if($cacheBustingToken)/$cacheBustingToken#end/datapath-gui-1.3-full.jar"
						 ver="$verJson"
						 upHeader="$upHeader"
						 elw_ctx="$elw_ctx"
				<noembed>
					No Java Support.
				</noembed>
			</embed>
		</comment>
	</object>
</div></div>
</body>
</html>

