#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="groupName" type="java.lang.String" *#
#* @vtlvariable name="studentName" type="java.lang.String" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Login</title>
	#elw_imports("../")
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body>
<div id="elw_header">
	<div id="nav"><span style="font-weight: bold">Login</span></div>
	#elw_cred_stud($elw_ctx)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<div id=main>
	<div class="formArea" style="height: 7em;">
		<form method="POST" action="loginPost">
			<div class="formLabel">Group:</div>
			<div class="formField"><input type="text" name="groupName" value="$!groupName"/></div>
			<div class="formLabel">Last name&nbsp;first name:</div>
			<div class="formField"><input type="text" name="studentName" value="$!studentName"/></div>
			<div class="formButtons"><input type="submit" value="Go"/></div>
		</form>
	</div>
</div>
</body>
</html>
