#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_student" type="elw.vo.Student" *#
#* @vtlvariable name="elw_group" type="elw.vo.Group" *#
#* @vtlvariable name="groupName" type="java.lang.String" *#
#* @vtlvariable name="studentName" type="java.lang.String" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Login</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
#if($elw_group)#if($elw_student)#set($auth="true") #end #end
	<div id="nav">#if($auth)#end</div>
	&nbsp;
	<div id="cred">#if($auth)[&nbsp;$elw_group.name&nbsp;$elw_student.name&nbsp;]&nbsp;[&nbsp;<a href="logout">X</a>&nbsp;]#{else}[&nbsp;Anonymous&nbsp;]#end</div>
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<div id=main>
	<form method="POST" action="loginPost">
		<div style="margin: 1em;">Group:&nbsp;<input type="text" name="groupName" value="$!groupName"/></div>
		<div style="margin: 1em;">Last name&nbsp;first name:&nbsp;<input type="text" name="studentName" value="$!studentName"/></div>
		<div style="margin: 1em; padding-left: 24em;"><input type="submit" value="Go"/></div>
	</form>
</div>
</body>
</html>
