#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="groupName" type="java.lang.String" *#
#* @vtlvariable name="studentName" type="java.lang.String" *#
#* @vtlvariable name="groups" type="elw.vo.Group[]" *#
#* @vtlvariable name="f" type="elw.web.FormatTool" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Login</title>
 #parse("/__/imports.vm")
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><span style="font-weight: bold">Login</span></div>
	#elw_cred_stud($elw_ctx)
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
	<div class="formArea ui-widget-header ui-corner-all" style="height: 7em;">
		<form method="POST" action="loginPost">
			<div class="formLabel">Group:</div>
			<div class="formField"><input type="text" name="groupName" value="$!groupName"/></div>
			<div class="formLabel">Last name&nbsp;first name:</div>
			<div class="formField"><input type="text" name="studentName" value="$!studentName"/></div>
			<div class="formButtons"><button type="submit" class="elw_button_login">Log in</button></div>
		</form>
	</div>
</div>
</body>
<script type="text/javascript">
 jQuery(document).ready(function() {
  var groupNames = [#foreach($g in $groups)
   $f.json($g.name)#if($velocityHasNext),#end
  #end];
  jQuery("form input[name=groupName]").autocomplete({"source": groupNames});
 });
</script>
 #parse("/__/ready.vm")
</html>
