#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>$verBean.name - Report</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
	<div id="nav">
		<a href="courses">My Courses</a> &gt;
		<a href="course?id=${course.id}">${course.name}</a> &gt;
		<span style="font-weight: bold">$verBean.name - Report</span></div>
	&nbsp;
	<div id="cred">[&nbsp;$elw_group.name&nbsp;$elw_student.name&nbsp;]&nbsp;[&nbsp;<a href="logout">X</a>&nbsp;]</div>
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<div id=main>
	<div class="formArea" style="height: 7em;">
		<div style="padding: 0.2em; font-weight: bold; background-color: #ffee99; text-align:center;">
			Only *.rtf uploads up to $uploadLimit, please.
		</div>
		<form method="POST" enctype="multipart/form-data" action="uploadReport?path=$upPath">
			<div class="formLabel">Report file:</div>
			<div class="formField"><input type="file" name="report"/></div>
			<div class="formButtons"><input type="submit" value="Upload"/></div>
		</form>
	</div>
</div>
</body>
</html>
