#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="uploadLimit" type="java.lang.String" *#
#parse("t/elw.macro.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>$elw_ctx.ver.name - Report</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="header">
	<div id="nav">
		<a href="courses">My Courses</a> &gt;
		<a href="course?id=e--${elw_ctx.enr.id}">${elw_ctx.course.name}</a> &gt;
		<span style="font-weight: bold">$elw_ctx.ver.name - Report</span></div>
	#elw_cred_stud($elw_ctx)
	<div style="clear: both;">&nbsp;</div>
</div>
#elw_messages($elw_messages)
<div id=main>
	<div class="formArea" style="height: 7em;">
		<div style="padding: 0.2em; font-weight: bold; background-color: #ffee99; text-align:center;">
			Only *.rtf uploads up to $uploadLimit, please.
		</div>
		<form method="POST" enctype="multipart/form-data" action="uploadReport?elw_ctx=$elw_ctx">
			<div class="formLabel">Report file:</div>
			<div class="formField"><input type="file" name="report"/></div>
			<div class="formButtons"><input type="submit" value="Upload"/></div>
		</form>
	</div>
	<div style="margin: 1em auto; width: 40em;">
		<div style="float: left;">
			<h3>Code submissions</h3>
			<table cellspacing="0" align="center"><tbody>
				<tr>
					<th>Date</th>
					<th>State</th>
					<th>Link</th>
				</tr>
#foreach($c in $codes.values())
				<tr>
					<td style="padding: 0 0.25em;"><span title="$c.niceUploadStamp">$c.briefUploadStamp</span></td>
					<td style="padding: 0 0.25em;">
						#if($c.validatorStamp > 0)
							#set($passColor = "#if($c.testsPassed>0)#00FF00#else#999999#end")
							#set($failColor = "#if($c.testsFailed>0)#FF0000#else#999999#end")
							<span style="color: $passColor;">$c.testsPassed&nbsp;Pass</span> /
							<span style="color: $failColor;">$c.testsFailed&nbsp;Fail</span>
						#else
							Tests Pending
						#end
					</td>
					<td style="padding: 0 0.25em;">[&nbsp;<a href="codeDl/$c.fileName?elw_ctx=$elw_ctx&stamp=$c.uploadStamp" target="_blank">Download</a>&nbsp;]</td>
				</tr>
#end
			</tbody></table>
		</div>
		<div style="float: right;">
			<h3>Report Uploads</h3>
			<table cellspacing="0" align="center"><tbody>
				<tr>
					<th>Date</th>
					<th>State</th>
					<th>Link</th>
				</tr>
#foreach($rep in $reports.values())
				<tr>
					<td style="padding: 0 0.25em;"><span title="$rep.niceUploadStamp">$rep.briefUploadStamp</span></td>
					<td style="padding: 0 0.25em;">&nbsp;</td>
					<td style="padding: 0 0.25em;">[&nbsp;<a href="reportDl/$rep.fileName?elw_ctx=$elw_ctx&stamp=$rep.uploadStamp" target="_blank">Download</a>&nbsp;]</td>
				</tr>
#end
			</tbody></table>
		</div>
	</div>
</div>
</body>
</html>
