#* @vtlvariable name="format" type="elw.web.FormatTool" *#
#* @vtlvariable name="scores" type="elw.vo.Score[]" *#
#* @vtlvariable name="score" type="elw.vo.Score" *#
#* @vtlvariable name="slot" type="elw.vo.FileSlot" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Approval</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav">
		<a href="index">Index</a> &gt; <a href="enrolls">Enrollments</a> &gt;
		<a href="log?elw_ctx=e--$elw_ctx.enr.id">Group $elw_ctx.group.name Reports</a> &gt;
		<span style="font-weight: bold">Approval</span>
	</div>
 #parse("/__/credAdm.vm")
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
	<h3 id="title"></h3>
 <div class="formArea ui-widget-header ui-corner-all">
  <form method="POST" action="approve">
   <input type="hidden" name="elw_ctx" value=""/>
   <input type="hidden" name="stamp" value=""/>
   <div id="sliders"></div>
   <div id="sliders_auto"></div>
   <div class="formLabel" style="width:12em;">Comment</div>
   <div class="formField" style="width:16em; height: 7em;"><textarea name="comment" cols="25" rows="5"></textarea></div>
   <div class="formButtons">
    <input type="submit" name="action" value="Decline"/>
    &nbsp;&nbsp;&nbsp;
    <input type="submit" name="action" value="Approve"/>
   </div>
  </form>
 </div>
 <div>
</div>
</body>
<script type="text/javascript">
 jQuery(document).ready(function() {
  jQuery("#title")
    .append(jQuery("<span/>").text($format.json($elw_ctx.student.name)).attr("title", $format.json($elw_ctx.student.id)))
    .append(jQuery("<span/>").text(" "))
    .append(jQuery("<span/>").text($format.json($elw_ctx.ass.name)).attr("title", $format.json($elw_ctx.ass.id)))
    .append(jQuery("<span/>").text(" "))
    .append(jQuery("<span/>").text($format.json($elw_ctx.ver.name)).attr("title", $format.json($elw_ctx.ver.id)));

  var sliders = jQuery("#sliders");
  var sliders_auto = jQuery("#sliders_auto");
  #foreach($cri in $slot.criterias)
   (function() {
    var criId = $format.json($slot.id) + "--" + $format.json($cri.id);
    sliders#if($cri.isAuto())_auto#{end}.append(
      jQuery("<div/>").toggleClass("formLabel").css({"width":"16em"}).append(
        jQuery("<span/>").text($format.json($cri.name)).attr("title", $format.json($cri.ratio))
      )
    ).append(
      jQuery("<div/>").toggleClass("formField").css({"width":"12em"}).append(
        jQuery("<div/>").css({"margin":"0.25em 1em 0 1em","float":"left","width":"6em"}).attr("id", criId + "--slider")
      ).append(
        jQuery("<select/>").attr("id", criId).attr("name", criId).css({"float": "left"})
          #foreach($pow in $cri.pows)
           .append(jQuery("<option/>").attr("value", $pow).text($pow))
          #end
      )
    );

    jQuery("#" + criId + "--slider").slider({
     "min": 0,
     "max": $cri.powMax,
     "range": "min",
     "value": $score.getPow($slot, $cri),
     "slide": function( event, ui ) {
      jQuery("#" + criId).val(ui.value);
     }
    });
    jQuery("#" + criId).change(function() {
     jQuery("#" + criId + "--slider").slider("value", this.selectedIndex);
    }).val($score.getPow($slot, $cri));
   })();
  #end

##  var dataTable = jQuery('#dataTable').dataTable({
##   "sDom": 'lprf<"clear">ti',
##   'aaData': [ ],
##   'aoColumns': [
##    #* 0 index *# {"bVisible": false, "bSortable": false},
##    #* 1 upload millis *# {"bVisible": false, "bSortable": false},
##    #* 2 upload date - full *# {"bVisible": false, "bSortable": false},
##    #* 3 upload date - nice*# {'sTitle': 'Time', "iDataSort": 1, "sWidth": "7em"},
##    #* 4 author.id *# {"bVisible": false, "bSortable": false},
##    #* 5 author.name *# {'sTitle': 'Author', "iDataSort": 3, "sWidth": "13em"},
##    #* 6 class.index *# {"bVisible": false, "bSortable": false},
##    #* 7 class.name *# {'sTitle': 'Class', "iDataSort": 5, "sWidth": "11em"},
##    #* 8 slot.id *# {"bVisible": false, "bSortable": false},
##    #* 9 slot.name *# {'sTitle': 'Slot', "iDataSort": 7, "sWidth": "5em" },
##    #* 10 comment *# {'sTitle': 'Comment', "sWidth": "21em" },
##    #* 11 status text*# {'sTitle': 'Status', "sWidth": "7em" },
##    #* 12 status classes *# {"bVisible": false, "bSortable": false},
##    #* 13 approve *# {'sTitle': 'A', "sWidth": "1em", "bSortable": false },
##    #* 14 download *# {'sTitle': 'D', "sWidth": "1em", "bSortable": false }
##   ],
##   "aaSorting": [ [3,'asc'] ],
##   "aaSortingFixed": [ ],
##   "fnRowCallback": function(node, data, dispIndex, dataIndex) {
##    jQuery("td:eq(5)", node).toggleClass(data[12]);
##    jQuery("td:eq(0)", node).attr("title", data[2]);
##    return node;
##   }
##  });

//  function loadData() {
//   var f_data = {};
//   f_data["elw_ctx"] = jQuery("input[name=elw_ctx]").val();
//   f_data["f_studId"] = jQuery("select[name=f_studId]").val();
//   f_data["f_slotId"] = jQuery("select[name=f_slotId]").val();
//   f_data["f_nodues"] = jQuery("input[name=f_nodues]").attr("checked");
//   f_data["f_latest"] = jQuery("input[name=f_latest]").attr("checked");
//
//
//   jQuery.ajax({
//    "type": "GET",
//    "url": "rest/log",
//    "data": f_data,
//    "success": function(resp) {
//     if (resp == null || !resp.success) {
//      jQuery.jGrowl("Response error", {"header":"AJAX error", "theme": "ui-state-error"});
//      return;
//     }
//
//     dataTable.fnClearTable(resp.data.length == 0);
//     dataTable.fnAddData(resp.data);
//    },
//    "error": function() {
//     jQuery.jGrowl("General error", {"header":"AJAX error", "theme": "ui-state-error"});
//    },
//    "dataType": 'json'
//   });
//
//   return false;
//  }

//  jQuery("#dataLoader").click(loadData);

//  loadData();
 });
</script>
 #parse("/__/ready.vm")
</html>
