#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Approval</title>
	#elw_imports("../")
</head>
<body>
<div id="elw_header">
	<div id="nav">
		<a href="index">Index</a> &gt; <a href="enrolls">Enrollments</a> &gt;
		<a href="log?elw_ctx=e--$elw_ctx.enr.id">Group $elw_ctx.group.name Reports</a> &gt;
		<span style="font-weight: bold">Approval</span>
	</div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<div id=main>
	<h3><span title="$elw_ctx.student.id">$elw_ctx.student.name</span> <span title="$elw_ctx.ass.id">$elw_ctx.ass.name</span> <span title="$elw_ctx.ver.id">$elw_ctx.ver.name</span></h3>
	<div class="formArea" style="height: 22em; width: 24em; float: left; margin: 0 2em;">
		<form method="POST" action="approve">
			#foreach($cri in $elw_ctx.assType.scoring.criterias)
				#if(!$elw_ctx.assType.scoring.isAuto($cri))
					<div class="formLabel" style="width:16em;"><span title="$cri.ratio">$cri.name</span>:</div>
					<div class="formField" style="width:6em;">
						<select name="cri--$cri.id">
							#foreach($pow in $cri.pows)
								<option value="$pow" #if($score.isSetTo($cri.id, $pow))selected#end>$pow</option>
							#end
						</select>
					</div>
				#end
			#end
			#foreach($cri in $elw_ctx.assType.scoring.criterias)
				#if($elw_ctx.assType.scoring.isAuto($cri))
					<div class="formLabel" style="width:16em;"><span title="$cri.ratio" style="color:#669999;">$cri.name</span>:</div>
					<div class="formField" style="width:6em;">
						<select name="cri--$cri.id">
							#foreach($pow in $cri.pows)
								<option value="$pow" #if($score.isSetTo($cri.id, $pow))selected#end>$pow</option>
							#end
						</select>
					</div>
				#end
			#end
			<input type="hidden" name="elw_ctx" value="$elw_ctx"/>
			<input type="hidden" name="stamp" value="$stamp"/>
			<input type="hidden" name="codeStamp" value="$codeStamp"/>
			<div class="formButtons"><input type="submit" name="action" value="Decline"/>&nbsp;&nbsp;&nbsp;<input type="submit" name="action" value="Approve"/></div>
		</form>
	</div>
	<div>
		<div style="float: left; margin: 0 3em;">
			<h3>Code submissions</h3>
			<table cellspacing="0" align="center"><tbody>
				<tr>
					<th></th>
					<th>Date</th>
					<th>State</th>
					<th>Score</th>
					<th>Link</th>
				</tr>
#foreach($c in $codes.values())
				<tr>
					<td style="padding: 0 0.25em; text-align: center;">#if($c.uploadStamp == $codeStamp)<span style="font-weight: bold;">*</span>#else<a href="approve?elw_ctx=$elw_ctx&codeStamp=$c.uploadStamp&stamp=$stamp">~</a>#end </td>
					<td style="padding: 0 0.25em;"><span title="$c.niceUploadStamp">$c.briefUploadStamp</span></td>
					<td style="padding: 0 0.25em;">
						#elw_code_state($elw_ctx, $c)
					</td>
					<td style="padding: 0 0.25em;">
						#elw_code_score($elw_ctx, $codeScores.get($c.uploadStamp))
					</td>
					<td style="padding: 0 0.25em;">[&nbsp;<a href="../s/codeDl/$c.fileName?elw_ctx=$elw_ctx&stamp=$c.uploadStamp" target="_blank">Download</a>&nbsp;]</td>
				</tr>
#end
			</tbody></table>
		</div>
		<div style="float: left; margin: 0 3em;">
			<h3>Report Uploads</h3>
			<table cellspacing="0" align="center"><tbody>
				<tr>
					<th></th>
					<th>Date</th>
					<th>State</th>
					<th>Score</th>
					<th>Link</th>
				</tr>
#foreach($rep in $reports.values())
				<tr>
					<td style="padding: 0 0.25em; text-align: center;">#if($rep.uploadStamp == $stamp)<span style="font-weight: bold;">*</span>#else<a href="approve?elw_ctx=$elw_ctx&stamp=$rep.uploadStamp&codeStamp=$codeStamp">~</a>#end </td>
					<td style="padding: 0 0.25em;"><span title="$rep.niceUploadStamp">$rep.briefUploadStamp</span></td>
					<td style="padding: 0 0.25em;">
						#elw_report_state($elw_ctx, $rep)
					</td>
					<td style="padding: 0 0.25em;">
						#elw_report_score($elw_ctx, $scores.get($rep.scoreStamp))
					</td>
					<td style="padding: 0 0.25em;">[&nbsp;<a href="../s/reportDl/$rep.fileName?elw_ctx=$elw_ctx&stamp=$rep.uploadStamp" target="_blank">Download</a>&nbsp;]</td>
				</tr>
#end
			</tbody></table>
		</div>
	</div>
</div>
</body>
</html>
