#* @vtlvariable name="f" type="elw.web.FormatTool" *#
#* @vtlvariable name="elw_auth" type="elw.dao.Auth" *#
#* @vtlvariable name="score" type="elw.vo.Score" *#
#* @vtlvariable name="slot" type="elw.vo.FileSlot" *#
#* @vtlvariable name="file" type="elw.vo.Solution" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="elw_uri" type="elw.web.ElwUri" *#
#* @vtlvariable name="stamp" type="elw.vo.Stamp" *#

#* @vtlvariable name="f_due" type="java.lang.Boolean" *#
#* @vtlvariable name="f_latest" type="java.lang.Boolean" *#
#* @vtlvariable name="f_studId" type="java.lang.String" *#
#* @vtlvariable name="f_slotId" type="java.lang.String" *#
#* @vtlvariable name="f_mode" type="java.lang.String" *#
#* @vtlvariable name="f_scope" type="java.lang.String" *#
#* @vtlvariable name="f_verId" type="java.lang.String" *#
#set($downloadUri = $elw_uri.download($elw_ctx, "s", $slot.id, $file, $elw_ctx.cmpNameNorm($f, $slot, $file)))
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
 <META HTTP-EQUIV=Refresh CONTENT="1; URL=${downloadUri}"/>
	<title>$elw_ctx.group.name $elw_ctx.student.name $elw_ctx.ass.name $elw_ctx.ver.name $slot.name : Approval - $elw_auth.admin.name</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav">
  <a href="index">Index</a> &gt;
  <a href="tasks?elw_ctx=e--$elw_ctx.enr.id">$elw_ctx.group.name : Tasks</a> &gt;
  <a href="log?elw_ctx=e--$elw_ctx.enr.id">$elw_ctx.group.name : Uploads</a> &gt;
  <span style="font-weight: bold">$elw_ctx.group.name $elw_ctx.student.name $elw_ctx.ass.name $elw_ctx.ver.name $slot.name : Approval</span>
	</div>
 #parse("/__/credAdm.vm")
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
	<h3 id="title"></h3>
 <div>
  <div style="float: left; width: 35%; overflow-x: auto;">
   <div class="formArea ui-widget-header ui-corner-all" style="width: auto;">
    <form method="POST" action="approve">
     <input type="hidden" name="elw_ctx" value="$f.esc($elw_ctx.toString())"/>
     <input type="hidden" name="sId" value="$f.esc($slot.id)"/>
     <input type="hidden" name="fId" value="$f.esc($file.id)"/>
     #if($stamp)
      <input type="hidden" name="stamp" value="$f.esc($stamp.toString())"/>
     #end
     <div id="sliders"></div>
     <div id="sliders_auto"></div>
     <div class="formLabel" style="width:12em;"><label for="approve_comment">Comment</label></div>
     <div class="formField" style="width:16em; height: 7em;"><textarea id="approve_comment" name="comment" cols="25" rows="5"></textarea></div>
     <div class="formLabel" style="width:12em; margin-top: 1em;"><label for="approve_action">Action</label></div>
     <div class="formField" style="width:16em; margin-top: 1em;"><select id="approve_action" name="action">
      <option value="approve">Approve</option>
      <option value="decline">Decline</option>
      <option value="next">Defer, I am not sure yet</option>
     </select></div>
     <div class="formButtons">
      <input type="submit" name="action" value="Submit"/>
     </div>
    </form>
   </div>
  </div>
  <div style="float: right; width: 65%; overflow-x: auto;">
   #set($__qId = "log") #parse("/__/queryTableLog.vm")
   <div style="clear: both; margin-top: 1em;"
   <form style="text-align: center;">
    #parse("/__/modeCombo.vm")
    <label for="dataLoader"></label>
    <input id="dataLoader" type="button" value="Refresh"/>
   </form>
   <table id="dataTable" cellspacing="0" cellpadding="1" align="center" width="95%"></table>
  </div>
 </div>
</div>
</body>
<script type="text/javascript">
 jQuery(document).ready(function() {
  jQuery("#title")
    .append(jQuery("<span/>").text($f.json($elw_ctx.student.name)).attr("title", $f.json($elw_ctx.student.id)))
    .append(jQuery("<span/>").text(" "))
    .append(jQuery("<span/>").text($f.json($elw_ctx.ass.name)).attr("title", $f.json($elw_ctx.ass.id)))
    .append(jQuery("<span/>").text(" "))
    .append(jQuery("<span/>").text($f.json($elw_ctx.ver.name)).attr("title", $f.json($elw_ctx.ver.id)))
    .append(jQuery("<span/>").text(" "))
    .append(jQuery("<a/>").text("Download").attr("href", $f.json($downloadUri)));

  var sliders = jQuery("#sliders");
  var sliders_auto = jQuery("#sliders_auto");
  #foreach($cri in $slot.criterias.values())
   (function() {
    var criId = $f.json($slot.id) + "--" + $f.json($cri.id);
    sliders#if($cri.auto())_auto#{end}.append(
      jQuery("<div/>").toggleClass("formLabel").css({"width":"16em"}).append(
        jQuery("<span/>").text($f.json($cri.name)).attr("title", $f.json($cri.ratio))
      )
    ).append(
      jQuery("<div/>").toggleClass("formField").css({"width":"12em"}).append(
        jQuery("<div/>").css({"margin":"0.25em 1em 0 1em","float":"left","width":"6em"}).attr("id", criId + "--slider")
      ).append(
        jQuery("<select/>").attr("id", criId).attr("name", criId).css({"float": "left"})
          #foreach($pow in $cri.pows)
           .append(jQuery("<option/>").attr("value", $pow).text($pow))
          #end
      ).append(
        jQuery("<input type=\"hidden\" />").attr("name", criId + "--ratio").val($score.getRatio($slot, $cri))
      )
    );

    jQuery("div[id='" + criId + "--slider']").slider({
     "min": 0,
     "max": $cri.powMax,
     "range": "min",
     "value": $score.getPow($slot, $cri),
     "slide": function( event, ui ) {
      jQuery("select[id='" + criId + "']").val(ui.value);
     }
    });
    jQuery("select[id='" + criId + "']").change(function() {
     jQuery("div[id='" + criId + "--slider']")
       .slider("value", this.selectedIndex);
    }).val($score.getPow($slot, $cri));
   })();
  #end

  var dataTable = jQuery('#dataTable').dataTable({
   "sDom": 'lprf<"clear">ti',
   'aaData': [ ],
   'aoColumns': [
    #* 0 index - *# {"bVisible": false, "bSortable": false},
    #* 1 selected 0 *# {'sTitle': '&gt;', "bSortable": false, "sWidth": "2em"},
    #* 2 best 1 *# {'sTitle': '*', "bSortable": false, "sWidth": "2em"},
    #* 3 score date millis - *# {"bVisible": false, "bSortable": false},
    #* 4 score date full - *# {"bVisible": false, "bSortable": false},
    #* 5 score date nice 2 *# {'sTitle': 'Date', "iDataSort": 3, "sWidth": "7em"},
    #* 6 status classes - *# {"bVisible": false, "bSortable": false},
    #* 7 status text 3 *# {'sTitle': 'Status', "iDataSort": 5, "sWidth": "7em"},
    #* 8 scoring 4 *# {'sTitle': 'Scoring', "sWidth": "40%"},
    #* 9 comment 5 *# {'sTitle': 'Comment', "sWidth": "40%"},
    #* 10 edit score 6 *# {'sTitle': 'A', "sWidth": "2em", "bSortable": false, "fnRender": elw_dt_url(10, 'A')}
   ],
   "aaSorting": [ [3,'asc'] ],
   "aaSortingFixed": [ ],
   "fnRowCallback": function(node, data, dispIndex, dataIndex) {
    jQuery("td:eq(3)", node).addClass(data[6]);
    jQuery("td:eq(2)", node).attr("title", data[4]);
    return node;
   }
  });

  function loadData() {
   var f_data = {};
   f_data["elw_ctx"] = $f.json($elw_ctx.toString());
   f_data["fId"] = $f.json($file.id);
   f_data["sId"] = $f.json($slot.id);
   #if($stamp)
    f_data["stamp"] = $f.json($stamp.toString());
   #end
   f_data["f_mode"] = jQuery("select[name=f_mode]").val();

   jQuery.ajax({
    "type": "GET",
    "url": "rest/scoreLog",
    "data": f_data,
    "success": function(resp) {
     if (resp == null || !resp.success) {
      jQuery.jGrowl("Response error", {"header":"AJAX error", "theme": "ui-state-error"});
      return;
     }

     dataTable.fnClearTable(resp.data.length == 0);
     dataTable.fnAddData(resp.data);
    },
    "error": function() {
     jQuery.jGrowl("General error", {"header":"AJAX error", "theme": "ui-state-error"});
    },
    "dataType": 'json'
   });

   return false;
  }

  jQuery("#dataLoader").click(loadData);

  loadData();
 });
</script>
 #if(!$f_verId) #set($f_verId = "${elw_ctx.ass.id}--${elw_ctx.ver.id}--") #end 
 #if(!$f_slotId) #set($f_slotId = "${elw_ctx.assType.id}--${slot.id}--") #end
 #if(!$f_scope) #set($f_scope = "s--pad--") #end
 #if(!$f_due) #set($f_due = "any") #end
 #if(!$f_mode) #set($f_mode = "s") #end
 #if(!$f_latest) #set($f_latest = "true") #end
 #set($__highlight = $file.id)
 #set($__qId = "log") #parse("/__/queryJsLog.vm")
 #parse("/__/ready.vm")
</html>
