#* @vtlvariable name="courses" type="elw.vo.Course[]" *#
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Course List : ELW Admin</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body style="text-align: left;">
<div id="header">
	<div id="nav"><a href="index">Index</a> &gt; <span style="font-weight: bold">Courses</span></div>
	<div id="cred">#if($auth)[&nbsp;Admin&nbsp;]&nbsp;[&nbsp;<a href="logout">X</a>&nbsp;]#{else}[&nbsp;Anonymous&nbsp;]#end</div>
	&nbsp;
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<table><tbody>
#foreach($course in $courses)
<tr>
	<td style="padding-left: 2em;">${course.name}</td>
	<td style="padding-left: 1em; padding-right: 1em;">[&nbsp;<a href="course?id=${course.id}">Structure</a>&nbsp;]</td>
	<td style="padding-left: 1em; padding-right: 1em;">[&nbsp;<a href="course?id=${course.id}&test=true">Structure + Test</a>&nbsp;]</td>
</tr>
#end
</tbody></table>
</body>
</html>
