#* @vtlvariable name="elw_messages" type="elw.miniweb.Message[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Course ${elw_ctx.course.name} : ELW Admin</title>
	#elw_imports("../")
</head>
<body>
<div id="elw_header">
	<div id="nav"><a href="index">Index</a> &gt; <a href="courses">Courses</a> &gt; <span style="font-weight: bold">${elw_ctx.course.name}</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<div id=main>
	<table cellspacing="0" cellpadding="0"><tbody>
	<tr>
		<td style="padding-left: 1em;padding-right: 0.25em; width: 40em;">Types:</td>
		<td style="width: 10em;">&nbsp;</td>
		<td style="width: 6em;">&nbsp;</td>
	</tr>
	#foreach($assType in $elw_ctx.course.assTypes)
	<tr>
		<td style="padding-left: 1.5em; padding-right: 0.25em;">${assType.name}</td>
		<td style="text-align: center;">
			<span class="expandTrigger" id="${assType.id}">Tasks</span>&nbsp;<span class="expandTrigger" id="slots-${assType.id}">Slots</span>
		</td>
		<td>&nbsp;</td>
	</tr>
		#foreach($slot in $assType.fileSlots)
		<tr class="slots-${assType.id}" style="display: none;">
			<td style="padding-left: 2.5em; padding-right: 0.25em; position:relative;" >
				<span title="id=${slot.id}">${slot.name}</span>
			</td>
			<td style="text-align: center;">
				<span class="popupTrigger" id="slots-${assType.id}-${slot.id}">Details</span>
			</td>
			<td>
				<div style="display:none; width: 12em;" class="slots-${assType.id}-${slot.id} popup">
					Binary? : <span style="font-weight: bold;">#if($slot.binary)Yes#{else}No#end</span><br/>
					Content Types : <span style="font-weight: bold;">#foreach($contentType in $slot.contentTypes) ${contentType} #end</span><br/>
					Max Size : <span style="font-weight: bold;">${slot.lengthLimit}</span><br/>
					Name Regex : <span style="font-weight: bold;">${slot.nameRegex}</span><br/>
					<hr/>
					Writable? : <span style="font-weight: bold;">#if($slot.writable)Yes#{else}No#end</span><br/>
					#if($slot.writeApprovals.size() > 0)
					Writable after : <span style="font-weight: bold;">#foreach($slotId in $slot.writeApprovals) $assType.findSlotById($slotId).name #end</span><br/>
					#end
					#if($slot.readApprovals.size() > 0)
					Readable after : <span style="font-weight: bold;">#foreach($slotId in $slot.readApprovals) $assType.findSlotById($slotId).name #end</span><br/>
					#end
				</div>
			</td>
		</tr>
		#end
	 #foreach($ass in $assType.assignments)
	<tr class="elw_header_row ${assType.id}" style="display: none;" >
		<td style="padding-left: 2em; padding-right: 0.25em;">
			<span title="id=#if($ass.id)$ass.id#{else}null#end">$ass.name</span>
		</td>
		<td style="text-align: center;">
			<span class="expandTrigger" id="${assType.id}__${ass.id}">Versions</span>
		</td>
		<td>&nbsp;</td>
	</tr>
		#foreach($ver in $ass.versions)
		#set($assCtx=$elw_ctx.extendTAV(${assType}, ${ass}, ${ver}))
	<tr class="${assType.id}__${ass.id}" style="display: none;">
		<td style="padding-left: 3em;">
			$ver.name&nbsp;<span style="font-size: smaller">(id:&nbsp;#if($ver.id)$ver.id#{else}null#end)</span>
		</td>
		<td style="text-align: center;">
			[&nbsp;<a href="launch?elw_ctx=$assCtx">Code</a>&nbsp;]
		</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">
			#if($testResults)
			#set($res=$testResults.get($assCtx.toString()))
				#if($res.success)#set($resColor="#00FF00")#else#set($resColor="#FF0000")#end
				<span style="color:$resColor">$res.message</span>
			#else
				&nbsp;
			#end
		</td>
	</tr>
		#end
	 #end
	#end
	</tbody></table>
</div>
</body>
</html>