#* @vtlvariable name="courses" type="elw.vo.Course[]" *#
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Course List : ELW Admin</title>
 #parse("/__/imports.vm")
</head>
<body style="text-align: left;">
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><a href="index">Index</a> &gt; <span style="font-weight: bold">Courses</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<table><tbody>
#foreach($course in $courses)
<tr>
	<td style="padding-left: 2em;">${course.name}</td>
	<td style="padding-left: 1em; padding-right: 1em;">[&nbsp;<a href="course?elw_ctx=c--${course.id}">Structure</a>&nbsp;]</td>
	<td style="padding-left: 1em; padding-right: 1em;">[&nbsp;<a href="course?elw_ctx=c--${course.id}&test=true">Structure + Test</a>&nbsp;]</td>
</tr>
#end
</tbody></table>
</body>
 #parse("/__/ready.vm")
</html>
