#* @vtlvariable name="enrolls" type="elw.vo.Enrollment[]" *#
#* @vtlvariable name="courses" type="java.util.Map<java.lang.String,elw.vo.Course>" *#
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Enrollments List : ELW Admin</title>
 #parse("/__/imports.vm")
</head>
<body style="text-align: left;">
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><a href="index">Index</a> &gt; <span style="font-weight: bold">Enrollments</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<table cellspacing=0 cellpadding=0><tbody>
#foreach($enr in $enrolls)
	<tr class="elw_header_row">
		<td style="padding-left: 1em; padding-right: 0.25em;"><a href="enroll?elw_ctx=e--$enr.id" title="id : ${enr.id}">${enr.name}</a></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"><a href="groups#$enr.groupId" title="(id : $enr.groupId)">$groups.get($enr.groupId).name</a></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"><a href="course?elw_ctx=c--$enr.courseId" title="(id : $enr.courseId)">$courses.get($enr.courseId).name</a></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">
			<form action="enroll" method="get" style="margin: 0; display: inline;">
				<input type="hidden" name="elw_ctx" value="e--$enr.id"/>
				<input type="submit" value="Summary"/>
			</form>
			<form action="log" method="get" style="margin: 0; display: inline;">
				<input type="hidden" name="elw_ctx" value="e--$enr.id"/>
				<input type="submit" value="Log"/>
			</form>
		</td>
	</tr>
	#foreach($cl in $enr.classes)
	<tr >
		<td style="padding-left: 2em; padding-right: 0.25em;">$cl.niceDate</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">$cl.fromTime -- $cl.toTime</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">
		#if($cl.today)
			<span style="font-weight:bold">Today#if($cl.current)&nbsp;Current#end</span>
		#else
			#if($cl.passed)Passed $cl.dayDiff days ago
			#else
				Due in $cl.dayDiff days
			#end
		#end
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	#end
#end
</tbody></table>
</body>
 #parse("/__/ready.vm")
</html>
