#* @vtlvariable name="courses" type="elw.vo.Course[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="codeMetas" type="java.util.Map<java.lang.String,elw.vo.CodeMeta>" *#
#* @vtlvariable name="reportMetas" type="java.util.Map<java.lang.String,elw.vo.ReportMeta>" *#
#parse("t/elw.macro.vm")
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Group $elw_ctx.group.name Status : ELW Admin</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body style="text-align: left;">
<div id="header">
	<div id="nav"><a href="index">Index</a> &gt; <a href="enrolls">Enrollments</a> &gt; <span style="font-weight: bold">Group $elw_ctx.group.name Status</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<table cellspacing="0"><tbody>
<tr class="header">
	<td style="padding-left: 1em; padding-right: 0.25em;"><a name="${elw_ctx.group.id}" title="id : ${elw_ctx.group.id}">${elw_ctx.group.name}</a></td>
#foreach($assBundle in $elw_ctx.course.assBundles)#set($bunI = $velocityCount - 1)
	#foreach($ass in $assBundle.assignments)#set($assI = $velocityCount)
		#if($ass.id && !$ass.shared)
				<td style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;" colspan="2"><span title="$ass.name">$ass.id</span></td>
		#end
	#end
#end
</tr>
#foreach($stud in $elw_ctx.group.students)
	<tr >
		<td style="padding-left: 2em; padding-right: 0.25em;">$stud.name &nbsp;<span class="extra">(id&nbsp;:&nbsp;${stud.id})</td>
	#foreach($assBundle in $elw_ctx.course.assBundles)#set($bunI = $velocityCount - 1)
		#foreach($ass in $assBundle.assignments)#set($assI = $velocityCount)
			#if($ass.id && !$ass.shared)
				#set($verIdx = $stud.idAsInt % $ass.versions.size())
				#set($ver = $ass.versions.get($verIdx))
				#set($path = "$elw_ctx.extendStudent($stud).extendBAV(${bunI}, ${ass}, ${ver})")
				#set($codeMeta = $codeMetas.get($path))
				#set($reportMeta = $reportMetas.get($path))
				#set($codeDue = $elw_ctx.enr.classes.get($ass.scoring.classCodeDue).passed && ($codeMeta.totalUploads == 0 || $codeMeta.passRatio == 0))
				#set($reportDue = $elw_ctx.enr.classes.get($ass.scoring.reportCodeDue).passed && ($reportMeta.totalUploads == 0 ))
		<td style="padding-left: 0.25em; padding-right: 0.25em; #if($codeDue)background-color: #FFEEEE;#end">
				#if($codeMeta.totalUploads > 0)
					<span title="$codeMeta.niceUploadStamp">$codeMeta.briefUploadStamp</span><br/>
					#if($codeMeta.validatorStamp > 0)
						#set($passColor = "#if($codeMeta.testsPassed>0)#00FF00#else#999999#end")
						#set($failColor = "#if($codeMeta.testsFailed>0)#FF0000#else#999999#end")
						<span style="color: $passColor;">${codeMeta.testsPassed}P</span>/<span
									style="color: $failColor;">${codeMeta.testsFailed}F</span>
					#else
						Pending
					#end
				#else
					&nbsp;
				#end
		</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em; border-left: 1px dashed #CCCCCC; #if($reportDue)background-color: #FFEEEE;#end'">
					#if($reportMeta.totalUploads > 0)
						<span title="$reportMeta.niceUploadStamp">$reportMeta.briefUploadStamp</span><br/>
						Pending
					#else
						&nbsp;
					#end
		</td>
			#end
		#end
	#end
	</tr>
#end
</tbody></table>
</body>
</html>
