#* @vtlvariable name="courses" type="elw.vo.Course[]" *#
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Groups List : ELW Admin</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body style="text-align: left;">
<div id="header">
	<div id="nav"><a href="index">Index</a> &gt; <span style="font-weight: bold">Groups</span></div>
	<div id="cred">#if($auth)[&nbsp;Admin&nbsp;]&nbsp;[&nbsp;<a href="logout">X</a>&nbsp;]#{else}[&nbsp;Anonymous&nbsp;]#end</div>
	&nbsp;
</div>
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end
</div>
<table cellspacing="0"><tbody>
#foreach($group in $groups)
<tr class="header">
	<td style="padding-left: 1em; padding-right: 0.25em;"><a name="${group.id}"></a>${group.name}&nbsp;<span class="extra">(id&nbsp;:&nbsp;${group.id})</span></td>
	<td style="padding-left: 0.25em; padding-right: 0.25em;"></td>
	<td style="padding-left: 0.25em; padding-right: 0.25em;"></td>
</tr>
	#foreach($stud in $group.students)
	<tr >
		<td style="padding-left: 2em; padding-right: 0.25em;">$stud.name &nbsp;<span class="extra">(id&nbsp;:&nbsp;${stud.id})</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"></td>
	</tr>
	#end
#end
</tbody></table>
</body>
</html>
