#* @vtlvariable name="course" type="elw.vo.Course" *#
#parse("t/elw.macro.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Index : ELW Admin</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body>
<div id="header">
	<div id="nav"><span style="font-weight: bold">Index</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<div id=main>
Available pages:<ul>
	<li>Registered <a href="courses">courses</a></li>
	<li>Registered <a href="groups">groups</a></li>
	<li>Registered <a href="enrolls">enrollments</a></li>
</ul>
</div>
</body>
</html>
