#* @vtlvariable name="elw_auth" type="elw.dao.Auth" *#
#* @vtlvariable name="course" type="elw.vo.Course" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Index - $elw_auth.admin.name</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><span style="font-weight: bold">Index</span></div>
 #parse("/__/credAdm.vm")
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
 #set($__qId = "idx") #parse("/__/queryTableIndex.vm")
</div>
</body>
 #set($__qId = "idx") #parse("/__/queryJsIndex.vm")
 #parse("/__/ready.vm")
</html>
