#* @vtlvariable name="logEntries" type="elw.web.AdminController.LogEntry[]" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#parse("t/elw.macro.vm")
<html>
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Group $elw_ctx.group.name Report Uploads : ELW Admin</title>
	<link href="../css/elw.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body style="text-align: left;">
<div id="header">
	<div id="nav"><a href="index">Index</a> &gt; <a href="enrolls">Enrollments</a> &gt; <span style="font-weight: bold">Group $elw_ctx.group.name Report</span></div>
	#elw_cred_adm($auth)
	<div id="header_hr"> </div>
</div>
#elw_messages($elw_messages)
<table cellspacing="0"><tbody>
<tr class="header">
	<th style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;">Time Stamp</th>
	<th style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;">Student name</th>
	<th style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;">Class</th>
	<th style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;">Status</th>
	<th style="padding-left: 0.25em; padding-right: 0.25em; text-align: center;">Actions</th>
</tr>
#foreach($e in $logEntries)
	<tr >
		<td style="padding-left: 0.25em; padding-right: 0.25em;"><span title="$e.meta.niceUploadStamp">$e.meta.briefUploadStamp</span></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"><span title="$e.student.id">$e.student.name</span></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;"><span title="$e.ass.id">$e.ass.name</span></td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">
			Pending
		</td>
		<td style="padding-left: 0.25em; padding-right: 0.25em;">
			<form action="approve" method="get" style="margin: 0;">
				<input type="hidden" name="elw_ctx" value="$e.ctx"/>
				<input type="hidden" name="stamp" value="$e.meta.uploadStamp"/>
				<input type="submit" value="Approve"/>
			</form>
		</td>
	</tr>
#end
</tbody></table>
</body>
</html>
