#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="f" type="elw.web.FormatTool" *#
#* @vtlvariable name="f_due" type="java.lang.Boolean" *#
#* @vtlvariable name="f_latest" type="java.lang.Boolean" *#
#* @vtlvariable name="f_studId" type="java.lang.String" *#
#* @vtlvariable name="f_slotId" type="java.lang.String" *#
#* @vtlvariable name="f_mode" type="java.lang.String" *#
#* @vtlvariable name="f_scope" type="java.lang.String" *#
<html>
<head>
 <meta content="text/html; charset=UTF-8">
 <title>Group $elw_ctx.group.name Report Uploads : ELW Admin</title>
 #parse("/__/imports.vm")
</head>
<body style="text-align: left;">
<div class="ui-widget-header ui-corner-all" id="elw_header">
 <div id="nav"><a href="index">Index</a> &gt; <a href="enrolls">Enrollments</a> &gt; <span style="font-weight: bold">Group $elw_ctx.group.name
  Uploads</span></div>
 #parse("/__/credAdm.vm")
 <div id="header_hr"></div>
</div>
 #parse("/__/messages.vm")
 <div style="">
  <form id="log_filter" style="text-align: center;">
   <input type="hidden" name="elw_ctx" value="$elw_ctx.toString()"/>
   <select id="log_filter_stud" name="f_studId" style="width: 7em;"><option value="">Student...</option></select><label for="log_filter_stud"></label>
   <select id="log_filter_slot" name="f_slotId" style="width: 11em;"><option value="">Task Type / Slot...</option></select><label for="log_filter_slot"></label>
   <select id="log_filter_ver" name="f_verId" style="width: 13em;"><option value="">Task / Version...</option></select><label for="log_filter_ver"></label>
   #parse("/__/dueCombo.vm")
   #parse("/__/modeCombo.vm")
   #parse("/__/scopeCombo.vm")
   <input id="log_filter_latest" type="checkbox" name="f_latest" value="true"/><label for="log_filter_latest">Latest&nbsp;only</label>
  </form>
  <table id="dataTable" cellspacing="0" width="95%" align="center"></table>
 </div>
</body>
<script type="text/javascript">
 jQuery(document).ready(function() {
  #parse("/__/studCombo.vm")
  #parse("/__/slotCombo.vm")
  #set($__ctx = $elw_ctx) #parse("/__/versionCombo.vm")

  #if($f_due)
   jQuery("input[name=f_due]").val($f_due);
  #end
  #if($f_latest)
   jQuery("input[name=f_latest]").attr("checked", $f_latest);
  #end
  #if($f_mode)
   jQuery("select[name=f_mode]").val($f_mode);
  #end
  #if($f_scope)
   jQuery("select[name=f_mode]").val($f_scope);
  #end

  var dataTable = jQuery('#dataTable').dataTable({
   "sDom": 'lprf<"clear">ti',
   'aaData': [ ],
   'aoColumns': [
    #* 0 index *# {"bVisible": false, "bSortable": false},
    #* 1 upload millis *# {"bVisible": false, "bSortable": false},
    #* 2 upload date - full *# {"bVisible": false, "bSortable": false},
    #* 3 upload date - nice*# {'sTitle': 'Time', "iDataSort": 1, "sWidth": "5em", "sClass": "text_align_right"},
    #* 4 author.id *# {"bVisible": false, "bSortable": false},
    #* 5 author.name *# {'sTitle': 'Author', "iDataSort": 3, "sWidth": "15%", "sClass": "text_align_center"},
    #* 6 class.index *# {"bVisible": false, "bSortable": false},
    #* 7 class.name *# {'sTitle': 'Class', "iDataSort": 5, "sWidth": "25%"},
    #* 8 slot.id *# {"bVisible": false, "bSortable": false},
    #* 9 slot.name *# {'sTitle': 'Version/Slot', "iDataSort": 7, "sClass": "text_align_center", "sWidth": "20%" },
    #* 10 comment *# {'sTitle': 'Comment', "sWidth": "20%" },
    #* 11 status text*# {'sTitle': 'Status', "sClass": "text_align_center", "sWidth": "7em" },
    #* 12 status classes *# {"bVisible": false, "bSortable": false},
    #* 13 approve *# {'sTitle': 'A', "sWidth": "1em", "bSortable": false, "sClass": "text_align_center" },
    #* 14 download *# {'sTitle': 'D', "sWidth": "1em", "bSortable": false, "sClass": "text_align_center" }
   ],
   "aaSorting": [ [3,'asc'] ],
   "aaSortingFixed": [ ],
   "fnRowCallback": function(node, data, dispIndex, dataIndex) {
    jQuery("td:eq(5)", node).addClass(data[12]);
    jQuery("td:eq(0)", node).attr("title", data[2]);
    return node;
   }
  });

  function loadData() {
   var f_inputs = jQuery("form#log_filter input[name^=\"f_\"]:enabled");
   var f_selects = jQuery("form#log_filter select[name^=\"f_\"]:enabled");
   f_inputs.attr("disabled", "disabled");
   f_selects.attr("disabled", "disabled");

   var f_data = {};
   f_data["elw_ctx"] = jQuery("input[name=elw_ctx]").val();
   f_data["f_studId"] = jQuery("select[name=f_studId]").val();
   f_data["f_slotId"] = jQuery("select[name=f_slotId]").val();
   f_data["f_verId"] = jQuery("select[name=f_verId]").val();
   f_data["f_mode"] = jQuery("select[name=f_mode]").val();
   f_data["f_due"] = jQuery("select[name=f_due]").val();
   f_data["f_scope"] = jQuery("select[name=f_scope]").val();
   f_data["f_latest"] = jQuery("input[name=f_latest]").attr("checked");

   jQuery.ajax({
    "type": "GET",
    "url": "rest/log",
    "data": f_data,
    "success": function(resp) {
     f_inputs.attr("disabled", "");
     f_selects.attr("disabled", "");
     if (resp == null || !resp.success) {
      jQuery.jGrowl("Response error", {"header":"AJAX error", "theme": "ui-state-error"});
      return;
     }

     dataTable.fnClearTable(resp.data.length == 0);
     dataTable.fnAddData(resp.data);
    },
    "error": function() {
     f_inputs.attr("disabled", "");
     f_selects.attr("disabled", "");
     jQuery.jGrowl("General error", {"header":"AJAX error", "theme": "ui-state-error"});
    },
    "dataType": 'json'
   });

   return false;
  }

  jQuery("form#log_filter input[name^=\"f_\"]").change(loadData);
  jQuery("form#log_filter select[name^=\"f_\"]").change(loadData);

  loadData();
 });
</script>
 #parse("/__/ready.vm")
</html>
