#* @vtlvariable name="elw_auth" type="elw.dao.Auth" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="f" type="elw.web.FormatTool" *#
#* @vtlvariable name="f_due" type="java.lang.Boolean" *#
#* @vtlvariable name="f_latest" type="java.lang.Boolean" *#
#* @vtlvariable name="f_studId" type="java.lang.String" *#
#* @vtlvariable name="f_slotId" type="java.lang.String" *#
#* @vtlvariable name="f_mode" type="java.lang.String" *#
#* @vtlvariable name="f_scope" type="java.lang.String" *#
#* @vtlvariable name="f_verId" type="java.lang.String" *#
<html>
<head>
 <meta content="text/html; charset=UTF-8">
 <title>$elw_ctx.group.name Uploads - $elw_auth.admin.name</title>
 #parse("/__/imports.vm")
</head>
<body style="text-align: left;">
<div class="ui-widget-header ui-corner-all" id="elw_header">
 <div id="nav">
  <a href="index">Index</a> &gt;
  <a href="tasks?elw_ctx=e--$elw_ctx.enr.id">$elw_ctx.group.name : Tasks</a> &gt;
  <span style="font-weight: bold">$elw_ctx.group.name : Uploads</span>
 </div>
 #parse("/__/credAdm.vm")
 <div id="header_hr"></div>
</div>
 #parse("/__/SessionMessages.vm")
 <div style="">
  #set($__qId = "log") #parse("/__/queryTableLog.vm")
 </div>
</body>
 #set($__qId = "log") #parse("/__/queryJsLog.vm")
 #parse("/__/ready.vm")
</html>
