#* @vtlvariable name="elw_student" type="elw.vo.Student" *#
#* @vtlvariable name="elw_group" type="elw.vo.Group" *#
#* @vtlvariable name="groupName" type="java.lang.String" *#
#* @vtlvariable name="studentName" type="java.lang.String" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Login : ELW Admin</title>
 #parse("/__/imports.vm")
	<script type="text/javascript" src="../js/jquery.sha1.js"></script>
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
	<div id="nav"><span style="font-weight: bold">Login</span></div>
 #parse("/__/credAdm.vm")
	<div id="header_hr"> </div>
</div>
 #parse("/__/messages.vm")
<div id=main>
<div class="formArea ui-widget-header ui-corner-all" style="height: 5em;">
	<form method="POST" action="loginPost" id="elw_formLoginPost">
		<input type="hidden" value="$nonce" name="nonce" id="elw_inputNonce"/>
		<input type="hidden" value="" name="hash" id="elw_inputHash"/>
		<div class="formLabel"><label for="elw_inputLogin">Login:</label></div>
		<div class="formField"><input type="text" name="login" value="" id="elw_inputLogin"/></div>
		<div class="formLabel"><label for="elw_inputPassword">Password:</label></div>
		<div class="formField"><input type="password" value="" id="elw_inputPassword"/></div>
		<div class="formButtons"><input type="submit" value="Go" id="elw_buttonGo"/></div>
	</form>
</div>
</div>
</body>
<script type="text/javascript">
  jQuery(document).ready(function() {
		jQuery("#elw_formLoginPost").submit(function(evt) {
			jQuery("#elw_inputHash").val(
				jQuery.sha1(jQuery("#elw_inputNonce").val() + "-->" + jQuery("#elw_inputLogin").val() + "-->" + jQuery("#elw_inputPassword").val())
			);
			//	just in case some lame browser would still submit cleartext password field despite it has no name at all
			jQuery("#elw_inputPassword").val("");
		});

		jQuery("#elw_inputLogin").focus();
	});
</script>
 #parse("/__/ready.vm")
</html>
