#* @vtlvariable name="f" type="elw.web.FormatTool" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="elw_ctx_type" type="elw.dao.Ctx" *#
#* @vtlvariable name="slot" type="elw.vo.FileSlot" *#
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta content="text/html; charset=UTF-8">
 <title>$elw_ctx.course.name $elw_ctx.ass.name $slot.name : Upload - $elw_admin.name</title>
 #parse("/__/imports.vm")
</head>
<body>
<div class="ui-widget-header ui-corner-all" id="elw_header">
 <div id="nav">
  <a href="index">Index</a> &gt;
  <a href="tasks?elw_ctx=e--$elw_ctx.enr.id">$elw_ctx.group.name : Tasks</a> &gt;
  <a href="log?elw_ctx=e--$elw_ctx.enr.id&scope=c--av--">$elw_ctx.course.name : Uploads</a> &gt;
  <span style="font-weight: bold">$elw_ctx.course.name $elw_ctx.ass.name $slot.name : Upload</span>
 </div>
 #parse("/__/credStud.vm")
 <div id="header_hr"></div>
</div>
 #parse("/__/messages.vm")
<div id=main>
 <div style="text-align:center;">
  <div class="formArea ui-widget-header ui-corner-all">
   <form id="ul_form" method="POST" enctype="multipart/form-data">
    <div class="formLabel" style="height: 7em;"><label for="ul_ctx">Context:</label></div>
    <div class="formField" style="height: 7em;"><select id="ul_ctx">
     <option value="$elw_ctx_type.toString()scope=t">Task Type: $f.esc($elw_ctx_type.assType.name)</option>
     <option value="$elw_ctx_type.toString()scope=a">Task: $f.esc($elw_ctx_type.ass.name)</option>
     #foreach($ver in $elw_ctx_type.ass.getVersions().values())
      <option value="$elw_ctx_type.extendVer($ver).toString()scope=v">Version: $ver.getName()</option>
     #end
    </select></div>
    <div class="formLabel" style="height: 7em;"><label for="ul_comment">Comment:</label></div>
    <div class="formField" style="height: 7em;"><textarea id="ul_comment" name="comment" title="Add a note" rows="5" cols="35"></textarea></div>
    <div class="formLabel"><label for="ul_file">File:</label></div>
    <div class="formField"><input id="ul_file" type="file" name="file" title="Select a file..."/></div>
    <div class="formButtons">
     <button id="ul_trig" type="button" class="elw_button_upload">Upload</button>
    </div>
   </form>
  </div>
 </div>
</div>
</body>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery("#ul_trig").click(function() {
   jQuery(this).attr("disabled", "disabled");
   var ctxAndScope = jQuery("#ul_ctx").val().split("scope=");
   var scope = ctxAndScope[1];
   jQuery("#ul_form").attr("action", "ul?elw_ctx=" + ctxAndScope[0] + "&sId=$slot.id&s=" + scope).submit();
  });
});
</script>

 #parse("/__/ready.vm")
</html>


