h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.75em;
	font-weight: normal;
}
h2 {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
	font-size: 1.5em;
	font-weight: normal;
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	font-size: 1.25em;
	font-weight: normal;
}

#header {
	background-color: #ccccff;
	border-bottom: #6666ff 1px dashed;
	text-align: center;
	font-size: 1.25em;
}

#header_hr {
	background-color: #9999CC;
	padding: 0;
	margin: 1px auto;
	width: 32em;
	height: 1px;
	clear: both;
}

#nav {
	margin-top: 2px;
	margin-left: 2px;
	float: left;
}

#cred {
	margin-top: 2px;
	margin-right: 2px;
	float: right;
}

#main {
	clear: both;
	text-align: left;
}

#messages div {
	text-align: center;
}

#messages .warn {
	color: #999900;
}

#messages .err {
	color: #990000;
}

#messages .info {
	color: #009900;
}

div.formArea {
	margin: 3em auto;
	width: 32em;
	padding: 1em;
	border: #CCCCEE solid 1px;
	background-color: #EEEEEE;
}

div.formLabel {
	clear: both;
	margin-top: 0.5em;
	margin-right: 0.25em;
	float: left;
	width: 12em;
	text-align: right;
}

div.formField {
	float: left;
	margin-top: 0.5em;
	width: 18em;
	text-align: left;
}

div.formButtons {
	clear: both;
	margin-top: 1.5em;
	float: right;
	text-align: right;
	width: 15em;
	margin-right: 2em;
}

.extra {
	font-size: smaller;
	color: #333333;
}

.header {
	border-bottom: #CCCCCC dotted 1px;
	background-color: #EEEEEE;
}

