#* @vtlvariable name="auth" type="java.lang.Boolean" *#
<div id="cred">
 #if($auth)
  [&nbsp;Admin&nbsp;]&nbsp;
  <form method="GET" style="display:inline; margin: 0 0.25em; padding: 0;" action="logout">
   <input type="Submit" value="Log Out" class="elw_button_logout"/>
  </form>
 #{else}
  [&nbsp;Anonymous&nbsp;]
 #end
</div>
