<select name="f_due">
 <option value="any" selected>Due Date...</option>
 <option value="none">No Due</option>
 <option value="set">Due Set</option>
 <option value="over">Due Passed</option>
 <option value="today">Due Today</option>
 <option value="twoweeks">Due within Two Weeks</option>
</select>
