#* @vtlvariable name="__relPath" type="java.lang.String" *#
<link type="text/css" rel="stylesheet" href="${__relPath}css/elw.css"/>
<link type="text/css" rel="stylesheet" href="${__relPath}css/datatables_jui.css"/>
<link type="text/css" rel="stylesheet" href="${__relPath}css/jquery.jgrowl.css"/>
<link type="text/css" rel="stylesheet" href="${__relPath}css/jquery-ui-1.8.5.custom.css"/>

<script type="text/javascript" src="${__relPath}js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="${__relPath}js/jquery.cookie.js"></script>
<script type="text/javascript" src="${__relPath}js/jquery.codecs.js"></script>
<script type="text/javascript" src="${__relPath}js/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="${__relPath}js/jquery.jgrowl.js"></script>
<script type="text/javascript" src="${__relPath}js/jquery.dataTables.js"></script>
