#* @vtlvariable name="elw_auth" type="elw.dao.Auth" *#
#* @vtlvariable name="__qId" type="java.lang.String" *#
#* @vtlvariable name="restPrefix" type="java.lang.String" *#
<script type="text/javascript">
 jQuery(document).ready(function() {
  var dataTable = jQuery('#${__qId}_dataTable').dataTable({
   "sDom": 'lprf<"clear">ti',
   'aaData': [ ],
   'aoColumns': [
    {"mDataProp": "index", "bVisible": false, "bSortable": false},
    {"mDataProp": "enrId", "bVisible": false, "bSortable": false},
    {"mDataProp": "groupId", "bVisible": false, "bSortable": false},
    {"mDataProp": "groupName", 'sTitle': 'Group', "sWidth": "7em", "sClass": "text_align_center"},
    {"mDataProp": "courseId", "bVisible": false, "bSortable": false},
    {"mDataProp": "courseName", 'sTitle': 'Course', "sWidth": "23em", "sClass": "text_align_center"},
     #if($elw_auth.admin)
     {"mDataProp": "summaryRef", 'sTitle': 'Summary', "bSortable": false, "fnRender": elw_dt_url('summaryRef', 'Summary'), "sClass": "text_align_center"},
     #else
     {"mDataProp": "summaryRef", "bVisible": false, "bSortable": false},
     #end
    {"mDataProp": "tasksRef", 'sTitle': 'Tasks', "bSortable": false, "fnRender": elw_dt_url("tasksRef", 'Tasks'), "sClass": "text_align_center"},
    {"mDataProp": "solutionsRef", 'sTitle': 'Solutions', "bSortable": false, "fnRender": elw_dt_url("solutionsRef", 'Solutions'), "sClass": "text_align_center"},
    {"mDataProp": "attachmentsRef",'sTitle': 'Attachments', "bSortable": false, "fnRender": elw_dt_url("attachmentsRef", 'Attachments'), "sClass": "text_align_center"}
   ],
   "aaSorting": [ [5,'asc'], [3,'asc'] ],
   "aaSortingFixed": [ ],
   "fnRowCallback": function(node, data/*, dispIndex, dataIndex*/) {
    jQuery("td:eq(0)", node).attr("title", data["groupId"]);
    jQuery("td:eq(1)", node).attr("title", data["courseName"]);
    return node;
   }
  });

  function loadData() {
   jQuery.ajax({
    "type": "GET",
    "url": "${restPrefix}rest/index",
    "data": {},
    "success": function(resp) {
     if (resp == null || !resp.success) {
      document.sessionMessageList.error("Malformed server AJAX Response");
      return;
     }

     dataTable.fnClearTable(resp.data.length == 0);
     dataTable.fnAddData(resp.data);
    },
    "error": function() {
     document.sessionMessageList.error("AJAX streaming error");
    },
    "dataType": 'json'
   });

   return false;
  }

  loadData();
 });
</script>
