#* @vtlvariable name="__relPath" type="java.lang.String" *#
#* @vtlvariable name="__page" type="java.lang.String" *#
#if(!$__relPath) #set($__relPath="../") #end

<script type="text/javascript" src="${__relPath}js/elw.js"></script>
#if($__page)
<script type="text/javascript">
 elw_updateExpandTriggersUri = "${__relPath}s/updateExpandTriggers?view=$__page";
</script>
#end
