#* @vtlvariable name="__page" type="java.lang.String" *#

<script type="text/javascript" src="js/elw.js"></script>
#if($__page)
<script type="text/javascript">
 elw_updateExpandTriggersUri = "s/updateExpandTriggers?view=$__page";
</script>
#end
