<select name="f_scope" style="width: 11em;">
 <option value="s--">Any @ Student</option>
 <option value="s--op--" selected="true">Open/Pending @ Student</option>
 <option value="s--ad--">Approved/Declined @ Student</option>
 <option value="c--">Any @ Course</option>
 <option value="c--v--">Version @ Course</option>
 <option value="c--t--">Type @ Course</option>
 <option value="c--a--">Task @ Course</option>
 <option value="c--av--">Version/Task @ Course</option>
 <option value="c--o--">Open @ Course</option>
</select>
