<select name="f_scope">
 <option value="s--">Any @ Stud </option>
 <option value="s--o--">Open @ Stud</option>
 <option value="s--p--">Pending @ Stud</option>
 <option value="s--od--" selected="true">Open/Declined @ Stud</option>
 <option value="s--opd--">Open/Pending/Declined @ Stud</option>
 <option value="s--a--">Approved @ Stud</option>
 <option value="s--d--">Declined @ Stud</option>
 <option value="c--">Any @ Course</option>
 <option value="c--v--">Version @ Course</option>
 <option value="c--a--">Task @ Course</option>
 <option value="c--av--">Version/Task @ Course</option>
 <option value="c--o--">Open @ Course</option>
</select>
