#* @vtlvariable name="__qId" type="java.lang.String" *#

#* @vtlvariable name="elw_auth" type="elw.dao.Auth" *#
#* @vtlvariable name="elw_ctx" type="elw.dao.Ctx" *#
#* @vtlvariable name="f" type="elw.web.FormatTool" *#
#* @vtlvariable name="f_verId" type="java.lang.String" *#
{
 var f_verId = jQuery("form#${__qId}_filter select[name=f_verId]");
 #foreach($indexKey in $elw_ctx.enr.index.keySet())
  #set($__ctx_ass = $elw_ctx.extendIndex($indexKey))
  #if($elw_auth.admin || $__ctx_ass.cFrom().started)
   #if($elw_auth.admin)
    f_verId.append(
     jQuery("<option></option>")
       .attr("value", $f.json($__ctx_ass.ass.id) + "--")
       .text($f.json($__ctx_ass.ass.name))
    );
   #end
   #foreach($ver in $__ctx_ass.ass.versions.values())
    #if($elw_auth.admin || $__ctx_ass.ver.id == $ver.id)
     f_verId.append(
       jQuery("<option></option>")
         .attr("value", $f.json($__ctx_ass.ass.id) + "--" + $f.json($ver.id) + "--")
         .text($f.json($__ctx_ass.ass.name) + " - " + $f.json($ver.name))
     );
    #end
   #end
  #end
 #end
 #if($f_verId)
  f_verId.val($f.json($f_verId));
 #end
}