#macro(elw_messages $elw_messages)
<div id=messages>#foreach($m in $elw_messages)
	<div class="$m.type">$m.message</div>
#end</div>
#end

#macro (elw_cred_stud $elw_ctx)
#if($elw_ctx.group)#if($elw_ctx.student)#set($auth="true") #end #end
<div id="cred">
	#if($auth)
		[&nbsp;$elw_ctx.group.name&nbsp;$elw_ctx.student.name&nbsp;]&nbsp;
		<form method="GET" style="display:inline; margin: 0 0.25em; padding: 0;" action="logout">
			<input type="Submit" value="Log Out" style="margin: 0;"/>
		</form>
	#else
		[&nbsp;Anonymous&nbsp;]
	#end
</div>
#end

#macro (elw_cred_adm $auth)
<div id="cred">
	#if($auth)
		[&nbsp;Admin&nbsp;]&nbsp;
		<form method="GET" style="display:inline; margin: 0 0.25em; padding: 0;" action="logout">
			<input type="Submit" value="Log Out" style="margin: 0;"/>
		</form>
	#{else}
		[&nbsp;Anonymous&nbsp;]
	#end
</div>
#end

#macro (elw_code_state $elw_ctx, $meta)
	#set($dueClass = $elw_ctx.enr.classes.get($elw_ctx.ass.scoring.classCodeDue))
	#set($overdue = $dueClass.passed && ($meta.totalUploads == 0 || $meta.passRatio == 0))
	<div style="width: 100%; text-align: center; #if($overdue)background-color: #EE9999;#end">
	#if($meta.totalUploads > 0)
			<span title="$meta.niceUploadStamp">
				#if($meta.validatorStamp > 0)
					#set($passColor = "#if($meta.testsPassed>0)#00FF00#else#999999#end")
					#set($failColor = "#if($meta.testsFailed>0)#FF0000#else#999999#end")
						<span style="color: $passColor;">${meta.testsPassed}P</span>/<span
									style="color: $failColor;">${meta.testsFailed}F</span>
				#else
					Pending
				#end
			</span>
		#else
			None
		#end
	</div>
#end

#macro (elw_report_state $elw_ctx, $meta )
  #set($dueClass = $elw_ctx.enr.classes.get($elw_ctx.ass.scoring.classReportDue))
	#set($overdue = $dueClass.passed && ($meta.totalUploads == 0 || $meta.scoreStamp == -1))
	<div style="width: 100%; text-align: center; #if($overdue)background-color: #EE9999;#end">
	#if($meta.totalUploads > 0)
			<span title="$meta.niceUploadStamp">
				#if($meta.scoreStamp < 0)
					<span style="color: #FF0000">Declined</span>
				#else
					#if($meta.scoreStamp > 0)
						<span style="color: #00FF00">Approved</span>
					#else
						<span style="color: #999999">Pending</span>
					#end
				#end
			</span>
		#else
			None
		#end
	</div>
#end

#macro (elw_code_score $elw_ctx, $score)
	#if($score)
		<span style="#if($score.preliminary)font-style: italic;#end">
			<span title="$score.niceStamp">$score.getNicePoints($elw_ctx.bundle.scoring.breakdown.get("code"), $elw_ctx.ass.scoring)</span>
			#set($terms = $score.getTerms($elw_ctx.bundle.scoring.breakdown.get("code")))
			#if($terms.size() > 0):
				#foreach($term in $terms)
					#if($term.positive)
						#set($termColor = "#00FF00")
					#else
						#set($termColor = "#FF0000")
					#end
						<span style="color: $termColor;" title="$elw_ctx.bundle.scoring.findCriteria($term.id).name ($term.pow)">$term.niceRatio</span>
				#end
			#end
		</span>
	#else
		None
	#end
#end

#macro (elw_report_score $elw_ctx, $score)
	#if($score && !$score.preliminary)
		<span style="#if($score.preliminary)font-style: italic;#end">
			<span title="$score.niceStamp">$score.getNicePoints($elw_ctx.bundle.scoring.breakdown.get("report"), $elw_ctx.ass.scoring)</span>
			#set($terms = $score.getTerms($elw_ctx.bundle.scoring.breakdown.get("report")))
			#if($terms.size() > 0):
				#foreach($term in $terms)
					#if($term.positive)
						#set($termColor = "#00FF00")
					#else
						#set($termColor = "#FF0000")
					#end
						<span style="color: $termColor;" title="$elw_ctx.bundle.scoring.findCriteria($term.id).name ($term.pow)">$term.niceRatio</span>
				#end
			#end
		</span>
	#else
		None
	#end
#end

#macro (elw_score $elw_ctx, $score)
	#if($score)
		<span style="#if($score.preliminary)font-style: italic;#end">
			<span title="$score.niceStamp">$score.getNiceTotal($elw_ctx.bundle.scoring, $elw_ctx.ass.scoring)</stamp>
		</span>
	#else
		None
	#end
#end

#macro (elw_file_row $p_path $p_slot $p_files $p_scope)
	#foreach($file in $p_files)
		<tr class="index-${p_path.index}--slot-${p_slot.id}--files" style="display:none;">
			<td style="padding-left: 4em; padding-right: 1em; border-right: #999999 dashed 1px;">
				<span style="font-weight: bold;" title="${file.meta.id} @ $p_scope">${file.meta.name}</span>
			</td>
			<td style="padding: 0 0.25em; text-align: center;">
				#if(!${p_slot.binary})
					<a class="popupTrigger"
						 id="index-${p_path.index}--slotinfo-${p_slot.id}--${p_scope}-${file.meta.id}">Content</a>
				#end
			</td>
			<td style="padding: 0 0.25em; text-align: right;">
				#if(!${p_slot.binary})
					<div style="display: none; text-align: left;"
							 class="popup index-${p_path.index}--slotinfo-${p_slot.id}--${p_scope}-${file.meta.id}">
						${file.text}
					</div>
				#end
			</td>
		</tr>
	#end
#end
